body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

.dark-theme {
    background-color: #1e1e1e;
    color: #fff;
}

.light-theme {
    background-color: #f4f4f4;
    color: #000;
}

header {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

button {
    background: #000000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #000000;
}

main {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
